[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
social-auth-app-flask = "*"
social-auth-app-flask-sqlalchemy = "*"
Flask = "*"
Flask-Login = "*"
Flask-Script = "*"
Werkzeug = "*"
Jinja2 = "*"
python-jose = "*"

[requires]
python_version = "3.8"
