
{% for encoded_passport in ga4gh_passport_v1 %}
{% set passport=get_jwt_payload(encoded_passport) %}
<h5>General Information</h5>
<table class="table table-responsive">
  {% for key, value in passport.items() %}
  {% if key != 'ga4gh_visa_v1' and key != 'ras_dbgap_permissions' %}
  <tr>
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

<h5>Visa</h5>
<table class="table table-responsive">
  {% for key, value in passport.ga4gh_visa_v1.items() %}
  <tr>
    <td>{{key}}</td>
    <td>{{value if value else 'No Value'}}</td>
  </tr>
  {% endfor %}
</table>

<h5>Permissions</h5>
<table class="table table-responsive">
  {% for permission_group in passport.ras_dbgap_permissions %}
  {% for key, value in permission_group.items() %}
  <tr>
    <td>{{key}}</td>
    <td>{{value if value else 'No Value'}}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endfor %}
